<!doctype html>
<html>
    <head>
        <title>ITC 298 Final</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
      <nav>
        <a href="/"><i class="fa fa-home fa-3x"></i></a>
        <a href="/getrecipe/new"><i href="/getrecipe/new" class="fa fa-plus-square fa-3x"></i></a>
        <a href="/register"><i class="fa fa-sign-in fa-3x"></i></a>
      </nav>
        <h1>ITC 298 Final</h1>
        <main>
            {{{content}}}
        </main>
       <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>
