<form method="POST" class="recipe">
  Recipe Name
  <input name="name"  placeholder="Chicken Tacos"><br>
  Ingredient
  <input name="ingredient" placeholder="Chicken">
  Quantity
  <input name="quantity" placeholder="1"><br>
  Ingredient
  <input name="ingredient" placeholder="Salt">
  Quantity
  <input name="quantity" placeholder="1"><br>
  Ingredient
  <input name="ingredient" placeholder="Tortilla">
  Quantity
  <input name="quantity" placeholder="1"><br>
  Ingredient
  <input name="ingredient" placeholder="Cheese">
  Quantity
  <input name="quantity" placeholder="1"><br>
  <input type="submit">
</form>
